*{
	box-sizing: border-box;
}
body {
	background: url(back.jpg);
	font-family: times new roman;
	font-size:180%;
	text-align: justify;
	position:relative;
	margin-left:20px;
	margin-top:20px;
	margin-right:2%;
}
#hover:hover {
	background-color: blue
}
#active:active {
	background-color: blue
}
.boto a:link, .boto a:visited {
	text-decoration: none;
	background-color: lightblue;
	border: 1px solid black;
	color: black;
	display: block;
	width: 400px;
	text-align: center;
	margin-bottom: 1px;
}
.boto a:hover{
	background-color: #64D5FF;
}
.boto a:active{
	background-color: blue;
}
h2 {
	text-decoration: underline;
}
#peditable {
	color: blue;
	font-style: italic;
}
#buit{
	height:75px;
}
#botoadalt{
	position:relative;
	top:10px;
}
#caixaprova{
	background-color: lightgreen;
	padding: 15px 15px 15px 15px;
	border: 10px solid black;
	margin: 50px;
	width: 150px;
}
.box-sizing{
	font-weight: bold;
}
.marges{
	margin-top:20px;
}
.important{
	font-size:36px;
}
.imp{
	font-weight: bold;
}
.blau{
	color:blue;
}
.verd{
	color:green;
}
.lila{
	color:purple;
}
.vermell{
	color:red;
}
@media (max-width: 767px){
.boto a:link, .boto a:visited {
	display: block;
	width: 300px;
}
}