body{
	font-size: 16px;
	color: white;
	background-color: #5F00BA;
	font-family: Helvetica;
}

/** HEADER **/
#header-nav{
	background-color: #538900;
	border-radius: 0;
	border: 0;
}
#logo-img{
	background: url('imatges/logo_gran.jpg') no-repeat;
	width:186px;
	height:52px;
	margin: 10px 15px 10px 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Source Sans pro', serif;
  color: #3B0092;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p{
	margin-top:15px;
	color:#5F00BA;
}
#estrella{
	height: 25px;
	width: 25px;
}
.navbar-brand p span{
	vertical-align:middle;
}
#nav-list{
	margin-top:10px;
}
#nav-list a{
	color: #5F00BA;
	text-align:center;
}
#nav-list a:hover{
	background-color: green;
}
#nav-list a span{
	font-size: 1em;
}
#phone {
	margin-top:5px;
}
#phone a {
	text-align: right;
	padding-bottom:0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #5F00BA;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
@media (min-width: 1200px){

}
@media (min-width: 992px) and (max-width: 1199px){
#collapsable-nav{
	font-size:1.2vw;
}
}
@media (min-width: 768px) and (max-width: 991px){
#collapsable-nav{
	font-size:1.2vw;
}
}
@media (max-width: 767px){
.navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p {
    font-size: 2.5vw;
    margin-top: 12px;
  }
  #collapsable-nav{
  	font-size:3vw;
  }
  #collapsable-nav a span{
  	margin-right: 5px;
  }
}